name: Python package
on:
    workflow_dispatch:
    push:
        branches:
            - main
            - dev
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
          - name: Get the code
            uses: actions/checkout@v4
          - name: Run tests
            run: |
              pip install pytest
              pytest 
          - name: Run the code
            run: 
              python app.py
    checks:
        name: Checking
        uses: ./checks.yaml
        with:
            input_name: Bartek
