name: Python package
on:
    workflow_dispatch:
    push:
        branches:
            - main
            - dev
    pull_request:
        types: [pened, synchronize, reopened]

jobs:
    tests:
        runs_on: ubuntu-latest
        steps:
          - name: Get the code
            uses: actions/checkout@v4
          - name: Rrun code
            run: |
              python app.py
		   	
		
			
	
